[package]
name = "diskofflaner"
version = "0.1.0"
edition = "2021"

[dependencies]
colored = "2.1"
anyhow = "1.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [
    "fileapi",
    "handleapi",
    "winioctl",
    "winnt",
    "winerror",
    "processthreadsapi",
    "securitybaseapi",
    "ioapiset"
] }
